body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/src/assets/Desktop-Landing.png");
  background-size: cover;
}
@media (width< 640px) {
  body {
    background-image: none;
    display: inline;
  }
}
.label-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.05rem;
  font-style: oblique;
  font-weight: 700;
  fill: #000c5c;
  transform: translate(0, 3px);
}

svg {
  width: 100%;
  display: block;
  .region0,
  .region1,
  .region2,
  .region3,
  .region4,
  .region5,
  .region6,
  .region7,
  .region8,
  .region9 {
    stroke: rgba(217, 169, 47, 0.4);
    stroke-linejoin: round;
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-width: 1;
    cursor: pointer;
    transition: all 300ms ease-in;

    &:hover {
      fill: rgba(246, 190, 49, 0.7);
      transform: scale(1.02);
    }

    &.on {
      fill: rgba(246, 190, 49, 0.4);
    }
  }

  .region0 {
    fill: rgba(246, 190, 49, 0.4);
  }

  .region1 {
    fill: rgba(246, 190, 49, 0.4);
  }

  .region2 {
    fill: rgba(246, 190, 49, 0.4);
  }

  .region3 {
    fill: rgba(246, 190, 49, 0.4);
  }

  .region4 {
    fill: rgba(246, 190, 49, 0.4);
  }

  .region5 {
    fill: rgba(246, 190, 49, 0.4);
  }

  .region6 {
    fill: rgba(246, 190, 49, 0.4);
  }

  .region7 {
    fill: rgba(246, 190, 49, 0.4);
  }

  .region8 {
    fill: rgba(246, 190, 49, 0.4);
  }

  .region9 {
    fill: rgba(246, 190, 49, 0.4);
  }
}

.relative:hover .absolute {
  display: block;
}
